body {
  margin: 0;
  padding: 0;
  color: #444;
}

/*
 * Create dark grey header with a white logo
 */
  
header {
  background-color: #03A9F4;
  height: 50px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
  box-shadow: 0px 1px 5px #888888;
}

header h1.logo {
  margin: 0;
  font-size: 1.8em;
  color: #fff;
  text-transform: uppercase;
  vertical-align: middle;
  float: left;
  margin-top: 7.5px;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Center the body content
 */
  
.container {
  width: 1100px;
  margin: 0 auto;
}
 
div.jumbo {
  padding: 10px 0 30px 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
 
h2 {
  font-size: 4em;
  margin-top: 45px;
  text-align: center;
  letter-spacing: -2px;
}
 
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

.menu {
  float: right;
  vertical-align: center;
}
 
.menu li {
  display: inline;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
  color: #ffffff;
  font-size: 1.2em;
  text-decoration: none;
}

.menu li a:hover{
	color: #FF5722;
}

/*
* CSS for submit form
*/
.submit{
	width: 940px;
  	margin: 0 auto;
  	text-align: center;
}

#submit {
    background-color: #FF5722;
    border-radius:3px;
    margin: 30px auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    padding: 10px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

#submit:hover {
    border: none;
    box-shadow: 0px 0px 1px #777;
}

/*
* Material Design text field
*/
.mdl-layout {
    align-items: center;
    justify-content: center;
}
.mdl-layout__content {
    padding: 24px;
    flex: none;
}
.mdl-textfield__error {
    width: 100%;
    left: 0;
 	text-align: left;
}

/* Mask for background, by default is not display */
#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.login-popup {
    display: none;
    background: #ffffff;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #000000;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #0000000;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #000000;
    /* Safari, Chrome */
	border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

fieldset {
    border: none;
}

form.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}

form.signin .textbox span {
    display: block;
}

form.signin p, form.signin span {
    color: #FFFFFF;
    font-size: 11px;
    line-height: 18px;
}

form.signin .textbox input {
    background: #686868;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 200px;
}

form.signin input:-moz-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

form.signin input::-webkit-input-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

