<!DOCTYPE html>
<html>
  <head>
    <title>Lost My Phone</title>   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  </head>
  <body>
    <header>
      <div class="container">
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
          </ul>
        </nav></strong>
      </div>
      <div class="container">
        <h1 class="logo">Lost My Phone</h1>
      </div>
    </header> 
    <div class="container">
      {% block test %}
      {% endblock %}
    </div>
</html>