<!DOCTYPE html>
<html>
  <head>
    <title>Lost My Phone</title>   
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />
    <script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
          </ul>
        </nav></strong>
      </div>
      <div class="container">
        <h1 class="logo">Lost My Phone</h1>
      </div>
    </header> 
    <div class="container">
      {% block callform %}
      {% endblock %}
    </div>
</html>