{% extends "layout.html"%}
{% block callform %}
  <div class="jumbo">
  	<h2>Welcome To Lost My Phone</h2>
  	<h3>If you've lost your phone, you can call it from here</h3>
  </div>
  <div class="submit">
    <form method="post" action="/call-phone/"> <!--telling the form where to send user input-->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    	<label class="mdl-textfield__label">Phone Number (Digits Only): </label>
        <input type="text" name="numberToCall" size="40" class="mdl-textfield__input"/>
    </div>
    <p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="submitButton"/>Call Phone</p>
    </form>
  </div>
{% endblock %}